.container {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-gap: 10px;
}
.Badge__container {
    display: grid;
    grid-column: 2;
    border: 1px solid black;
    padding-left: 20px;
}
.BadgeForm__container {
    display: grid;
    grid-column: 3;
    border: 1px solid black;
    padding-left: 20px;

}