.BadgeDetails__hero {
    width: 100%;
    height: 180px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.BadgeDetails__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
}
.BadgeDetails__container-badge{
    display: flex;
    justify-content: center;
    align-items: center;
    
}